/************ GENERALLE SETTINGS **********/

body {
    background-color: #b18e6b;
    margin: 0;
}

.content_box {
    background-color: #e3d1ba;
    margin: 20px;
    border-radius: 5px;
}

.content_box a {
    color: steelblue;
    text-decoration: none;
}

.content_box a:hover {
    color: #b18e6b;
}

#om_mig {
    display: flex;
    flex-wrap: wrap;

    padding-top: 180px;
    margin: 10px;
    border-radius: 5px;
}

.herobanner {
    overflow: hidden;
}

/************ GENERALLE SETTINGS SLUT **********/

/*********** NAV ************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5d412d;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}


li a:hover:not(.active) {
    background-color: #b18e6b;
}

.active {
    background-color: #865f40;
}

/************* FONTS ************/

p {
    font-size: 1.5em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #382518;
    margin: 20px;
}

h1 {
    font-size: 4em;
    font-family: 'Roboto Slab', serif;
    color: #382518;
    margin: 8px;
}

h2 {
    font-size: 4em;
    font-family: 'Roboto Slab', serif;
    color: #382518;
    margin: 12px;
}

a {
    font-size: 1.5em;
    font-family: 'PT Sans', sans-serif;
}

/************* FONTS SLUT ************/

/******* LOGO  *******/

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}


.logo {

    background-image: url(assets/spritesheets/logo_spritesheet.svg);
    background-size: 500% 100%;
    width: 300px;
    height: 300px;
}

#logo_container {
    position: fixed;
    top: 70px;
    left: 10px;
}


#logo_sprite {
    background-image: url(assets/spritesheets/logo_spritesheet.svg);
    background-size: 500% 100%;

    width: 90px;
    height: 90px;
}

.logo_animate {
    animation-name: logo_animate_kf;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(5);
    animation-fill-mode: both;
}

@keyframes logo_animate_kf {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 500% 100%;
    }
}

/******* LOGO SLUT *******/
