body {
    background-color: #d0b393;
    margin: 0;
}

.content_box {
    background-color: #e3d1ba;
    margin: 20px;
    border-radius: 5px 5px 0 0;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #382518;
    margin: 8px;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #382518;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #382518;
    margin: 8px;
}

a {
    font-family: 'Nunito Sans', sans-serif;
}

/******* LOGO ANIMATION *******/

#logo_container {}


#logo_sprite {
    background-image: url(assets/spritesheets/logo_spritesheet.svg);
    background-size: 500% 100%;

    width: 20vw;
    height: 20vw;
}

.logo_animate {
    animation-name: logo_animate_kf;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(5);
    animation-fill-mode: both;
}

@keyframes logo_animate_kf {
    0% {
        background-position: -0% 0%;
    }

    100% {
        background-position: -500% 100%;
    }
}

/******* LOGO ANIMATION SLUT *******/
